<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/19ad6b2305.js" crossorigin="anonymous"></script>
    <title>Library</title>
</head>

<body class="image">
    <header>
        <section class="header">
        <h1>Welcome to the Library!</h1>
        <ul class="navlink">
            <li>
                <a href="/library"><i class="fa-solid fa-house"></i></a>
            </li>
        </ul>
        </section>
    </header>
    <hr>
    {% block content %} {% endblock %}
</body>
<footer>
    <p>&copy;Copyright 2022 Sara Qureshi</p>
</footer>
</html>