{% extends "base.html" %}

{% block content %}

    <div class="book-container">
            <h1 class="book-title">Book:</h1>
            <div class="book">
                <h2>{{ book.title }}</h2>
                <h3>{{ book.author }}</h3>
                <h4>{{ book.genre }}</h4>   
                
                <div>
                <form action="/library/{{ index }}" method="POST">
                    {% if book.checkedout == True %}
                        <label for="checkedout">Check In:</label>
                        <input type="checkbox" name="checkedout" id="False" value="False">
                    {% else %}
                        <label for="checkedout">Check Out:</label>
                        <input type="checkbox" name="checkedout" id="True" value="True">
                    {% endif %}
                </form>
                </div>
            </div>
        </div>


{% endblock %}